@use './imports' as *;

html {
  scroll-behavior: smooth;
}


body {
    background: #001725;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
  }

  h1{
    font-family: $garamond;
    font-size: clamp(2rem, 1.5rem + 2vw, 4rem);
    line-height: clamp(2rem, 1.5rem + 2vw, 4rem);
    color: white;
    text-align: center;
    height: 100px;
    display: grid;
    place-items: center;
  }